DATABASE_URL=db+driver://username:password@host:post//db_name
SECRET_KEY= your-django-secret-key
DEBUG= True or False
ALLOWED_HOSTS=domain.com,anotherdomain.com
CSRF_TRUSTED_ORIGINS=https://domain.com,https://anotherdomain.com
CORS_ALLOWED_ORIGINS=https://domain.com

